<%- include('../partials/header') %>
  <body>
    <div class="container showpage-container">
      <div class="row" >
    <div class="col">
      <div class="form-campus-show">
        <form action="/schools/<%= school._id %>" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1">Review</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="reviews"  rows="3"></textarea>
          </div>
          <div>
            <select class="form-select mb-3" aria-label="Default select example" name="ratings">
              <option selected>Rate this school</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary"> Add Review </button>
          <button type="submit" class="btn btn-primary"> <a href="/schools/<%= school._id %>/instructors">Show All Instructors </a></button>
          </form>

          <div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Rating</th>
                  <th scope="col">Review</th>
                  <th scope="col">Details</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <% if (school) { %>
              <tbody>
                <% for (let i=school.reviews.length-1; i>=0; i--) { %>
                <tr>
                  <td class="showCol" ><span> <%= school.ratings[i] %></span> <span>Whatever</span> </br>
                  <span>whatever</span> <span>whatever</span> </td>
                  <td class="showCol"><%= school.reviews[i] %></td>
                  <td><a src='#'>view</a></td>
                  <td><form action="/schools/<%= school._id %>/ <%= i %>?_method=DELETE"
                    class="delete-review" method="POST">
                    <button type="submit" class="btn-close" aria-label="Close"></button>
                  </form> </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>

      </div>
      </div>
      </div>
  </body>






    <%- include('../partials/footer') %>