<%- include('../partials/header') %>

<body id="insbod">
  <div class="container showpage-container" >
    <div class="row justify-content-center">
      <table class="table table-striped table-hover" id="instable">
        <thead>
          <tr>
            <th scope="col">Professor Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>

          </tr>
        </thead>
        <tbody>
          <% if(instructors) { %>
            <% for (let i=instructors.length-1; i>=0; i--) { %>
              <tr>
                <td><a href="/instructors/<%= instructors[i]._id %>"><%= instructors[i].name %></a></td>
                <td><p>Overall Ratings:         <%= reviews[i].ratings %></p>

            </td>
                <td><%= reviews[i].reviews %></td>
              </tr>
              <% } %>
         <% } %>

        </tbody>
      </table>
    </div>
  </div>
</body>





<%- include('../partials/footer') %>